
<main class="inner-contents">
    <div class="content">
    <div class="icons">
      <img src="..\assets\angular.png">
      <img src="..\assets\c.png">
      <img src="..\assets\js.png">
      <img src="..\assets\java.png">
      <img src="..\assets\ts.png">
    </div>
    <p class="hi"><b>Hi, I am</b></p>
    <div class="name">
      <span class="muhammed" style="font-size: 3vw;">Muhammed</span> 
      <span class="shijas" >Shijas</span>
    </div>
    <div class="para">
      <p>
        I am a Software Developer. My best skillsets are <b> Angular, C#, JavaScript, Java</b> and <b>TypeScript</b>. I have experience working on 
        both relational and non-relational databases. Some of my experiences are on <b>PostgreSQL, MySQL, Oracle SQL</b> and <b>Mongo DB</b>.
        I have also worked on <b>RESTful APIs</b> doing <b>CRUD</b> operations. I have experience working on <b>Agile</b> and <b>Waterfall</b> methodology.
        I have limited experience on Azure and AWS cloud services. I mostly worked on Virtual Machines on Azure and Image Rekognition on AWS. 
      </p>
      <p>
        I am also experienced on developing Mobile Applications. I am familiar with <b>Android Studio</b>. I have designed various small applications for android.
         I have also worked on Cross Platform Mobile Application tools like <b>Ionic Angular</b> and <b>Xamarin</b>. While working on Mobile Applicatoins, I got
         familiar with Google API services especially on Location. Also, the importance on Permission settings on Mobile Applications.
      </p>
      <p>
        I am fluent in basic Web Development Tools like <b>HTML</b> and <b>CSS</b>. I have also worked on JavaScript frameworks like <b>React</b> and <b>Node</b>.
        I am highly skilled on front end tools like <b>XML</b> and <b>XAML</b>.
      </p>
    </div>
      
    </div>
    
  
  
  
  </main>
    