
<main class="inner-contents">
    <div class="content">
    <div class="icons">
      <img src="..\assets\angular.png">
      <img src="..\assets\c.png">
      <img src="..\assets\js.png">
      <img src="..\assets\java.png">
      <img src="..\assets\ts.png">
    </div>
    <p class="hi"><b>Hi, I am</b></p>
    <div class="name">
      <span class="muhammed" style="font-size: 3vw;">Muhammed</span> 
      <span class="shijas" >Shijas</span>
    </div>
    <div class="para">
      <p>
        I am a Software Developer. My best skillsets are <b> Angular, C#, JavaScript, Java</b> and <b>TypeScript</b>. I have experience working on 
        both relational and non-relational databases. Some of my experiences are on <b>PostgreSQL, MySQL, Oracle SQL</b> and <b>Mongo DB</b>.
        I have also worked on <b>RESTful APIs</b> doing <b>CRUD</b> operations. I have experience working on <b>Agile</b> and <b>Waterfall</b> methodology.
        I have limited experience on Azure and AWS cloud services. I mostly worked on Virtual Machines on Azure and Image Rekognition on AWS. 
      </p>
      <p>
        I am also experienced on developing Mobile Applications. I am familiar with <b>Android Studio</b>. I have designed various small applications for android.
         I have also worked on Cross Platform Mobile Application tools like <b>Ionic Angular</b> and <b>Xamarin</b>. While working on Mobile Applicatoins, I got
         familiar with Google API services especially on Location. Also, the importance on Permission settings on Mobile Applications.
      </p>
      <p>
        I am fluent in basic Web Development Tools like <b>HTML</b> and <b>CSS</b>. I have also worked on JavaScript frameworks like <b>React</b> and <b>Node</b>.
        I am highly skilled on front end tools like <b>XML</b> and <b>XAML</b>.
      </p>
    </div>
      
    </div>
    <footer>
      <a [routerLink]="'/projects'" class="nav-link">
        Projects <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cast" viewBox="0 0 16 16">
          <path d="m7.646 9.354-3.792 3.792a.5.5 0 0 0 .353.854h7.586a.5.5 0 0 0 .354-.854L8.354 9.354a.5.5 0 0 0-.708 0z"/>
          <path d="M11.414 11H14.5a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5h-13a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5h3.086l-1 1H1.5A1.5 1.5 0 0 1 0 10.5v-7A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v7a1.5 1.5 0 0 1-1.5 1.5h-2.086l-1-1z"/>
        </svg>
      </a>
    </footer>
  </main>
    