    <div class="container">
        <div class="row">
            <span class="main-heading">
                PUBLICATIONS
            </span>
        </div>
        <div class="row">
            <h2 class="project-headings">Junior Software Developer &nbsp; </h2>
            <div class="row">
                <p class="tools"> York University - May 2023 to Present</p>
            </div>
        </div>
        <div class="row">
            <div class="contents">
                <ul>
                  <li>
                    Working on the	creation of immersive virtual reality environments for traffic scenarios, using Unity3D and AR/VR development techniques.
                  </li>
                  <li>
                    Working on integrating a transportation software (SUMO) to 3D world using C# and Unity.
                  </li>
                  <li>
                    Working extensively on the back end of the program, leveraging C# and Unity to optimize performance and ensure smooth functionality.
                </li>
                <li>
                    Implemented various algorithms and techniques to improve the overall performance of the Unity project, resulting in a 12% improvement in frame rate.
                </li>
                <li>
                    Assisted in troubleshooting and resolving technical issues related to Unity and C#
                </li>
                <li>
                    Maintained clear and up-to-date documentation to facilitate knowledge sharing and onboarding of new team members.
                </li>
                <li>
                    Contribute to the development and enhancement of existing applications, ensuring high-quality code and adherence to best practices.
                </li>
                <li>
                  Check out our open source project called <a href="https://github.com/SimuTraffX-Lab/SUMO2Unity">Sumo2Unity</a>.
                </li>
                </ul>
            </div>
        </div>

    </div>
