<div class="container">
    <div class="row">
        <span class="main-heading">
            PROJECTS
        </span>
    </div>
    <div class="row">
        <h2 class="project-headings">CampusBuddy &nbsp; <svg (click)="cbclick()" xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
          </svg></h2>
    </div>
    <div class="row">
        <p class="tools"> Angular, TypeScript, PostgreSQL, REST API</p>
    </div>
    <div class="row">
        <div class="contents">
            <p>
                Worked on a group project of 4 people that lets students to interact with other students, on and off campus. 
                The website is made using Angular Js. It has functionalities such as registering a user, creating a profile, signing in, 
                finding other students and more. The website uses PostgreSQL as its database. The website supports a chat feature that let 
                students message each other. It uses a socket server to connect to database to perform CRUD operations on REST APIs.
            </p>
            <ul>
                <li>Designed UML, Class, Use Case and Sequence Diagrams</li>
                <li>Worked on Work Breakdown Structure</li>
                <li>Scheduled the project on MS Project</li>
                <li>Worked on designing and creating sql database tables</li>
                <li>Worked on Developing Posting section of website</li>
                <li>CRUD operations on RESTful APIs</li>
                <li>Worked on Profile Creation part</li>
                <li>Worked on User Manual and Documentation</li>
              </ul>
        </div>
        
    </div>
    <hr>
    
    <div class="row">
        <h2 class="project-headings">RecipeFinder &nbsp; <svg (click)="rfclick()" xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
          </svg></h2>
    </div>
    <div class="row">
        <p class="tools"> C#, Xamarin, SQLite, REST API</p>
    </div>
    <div class="row">
        <div class="contents">
            <p>
                Worked on a team of 3 members to develop a cross platform mobile application using Xamarin C#. 
                The application is used to find recipe searching by text. The application using RESTful APIs to use CRUD operations.
            </p>
            <ul>
                <li>Designed Class, Use Case and Sequence Diagrams</li>
                <li>Worked on getting ingredients from API</li>
                <li>Worked on saving favourite ingredients locally using SQLite </li>
                <li>CRUD operations on RESTful APIs</li>
              </ul>
        </div>
        
    </div>

    <hr>

    
    <div class="row">
        <h2 class="project-headings">Cash Registration App &nbsp; <svg (click)="craclick()" xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
          </svg></h2>
    </div>
    <div class="row">
        <p class="tools"> Ionic, Angular, SQLite</p>
    </div>
    <div class="row">
        <div class="contents">
            <p>
                A cross platform mobile application developed by Ionic Angular. It has the functionalities like buying an item, 
                adding new item to the inventory, and updating inventory. The items are stored locally on the device. 
            </p>
            <ul>
                <li>Designed and Developed the whole app</li>
                <li>Worked on adding, updating, deleting the products</li>
                <li>Designed inventory management</li>
                <li>Worked on saving items on the device locally using SQLite </li>
            
              </ul>
        </div>
        
    </div>

</div>
