.container{
    padding-left: 200px;
}

.main-heading{
    padding-top: 10px;
    font: 3vw sans-serif;
    text-align: center;
    padding-bottom: 30px;
     border-radius: 25px;
    letter-spacing: -1px;
}


.project-headings{
    font-family: serif;
}

.project-headings svg{
    color: blue;
}

.project-headings svg:hover{
    cursor: pointer;
}
.tools{
    padding-top: 1px;
    font-family: monospace;
}

.contents{
    font-family: Franklin Gothic, Arial Bold;
}