<div class="projects">
    <div class="headings" id="projects">
        <h1>Projects</h1></div>
        <div class="project-headings">
          <h3>CampusBuddy | </h3> <h4>Angular, TypeScript, PostgreSQL, REST API</h4>
        </div>
        <div class="project-contents">
          <p>Worked on a project consisting of 4 members for 8 months to create a website for students to interact with other students.
            Some of the functionalities of the website are User registration, Login, Posting, Finding other students based on their tags,
            sending friend request, blocking users, sending messages and much more. My part of the project are:
          </p>
          <ul>
            <li>Designed UML, Class, Use Case and Sequence Diagrams</li>
            <li>Worked on Work Breakdown Structure</li>
            <li>Scheduled the project on MS Project</li>
            <li>Worked on designing and creating sql database tables</li>
            <li>Worked on Developing Posting section of website</li>
            <li>CRUD operations on RESTful APIs</li>
            <li>Worked on Profile Creation part</li>
            <li>Worked on User Manual and Documentation</li>
          </ul>
        </div>
</div>
