<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="p-4 pt-5">
      <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(../assets/IMG_0478.jpg);"></a>
      <ul class="list-unstyled components mb-5" id="li-icons">
        <li class="active">
          <a href="#icons">Home <i class="bi bi-house-door"></i></a>
        </li>
        <li>
            <a href="#about">About <i class="bi bi-file-person"></i></a>
        </li>
        <li>
          <a href="#projects">Projects <i class="bi bi-cast"></i></a>
        </li>
        <li>
          <a href="#education">Education <i class="bi bi-book"></i></a>
        </li>
      </ul>

      <div class="footer">
        <h2>Contact</h2>
        <span><a href="mailto:shijasck11@gmail.com">
          <i class="bi bi-envelope" style="font-size: 2rem;"></i>
        </a></span>
        <span>
          <a href="https://www.linkedin.com/in/muhammed-shijas-cherakkatil-50584a15b/">
            <i class="bi bi-linkedin" style="font-size: 2rem;"></i>
          </a>
        </span>
        <span>
          <a href="https://www.github.com/shijasck11">
            <i class="bi bi-github" style="font-size: 2rem;"></i>
          </a>
        </span>
        
      </div>

    </div>
  </nav>

    <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">


    <p class="hi"><b>Hi, I am</b></p>
    <div class="name"><span class="muhammed" style="font-size: 50px;">Muhammed</span> <span class="shijas" style="font-size: 100px;">Shijas</span></div>
    
    
    
    <div class="icons" id="icons">
      <img src="..\assets\angular.png">
      <img src="..\assets\c.png">
      <img src="..\assets\js.png">
      <img src="..\assets\java.png">
      <img src="..\assets\ts.png">
    </div>
    
    <div class="headings" id="about"><h1>About</h1></div>
  
    
  
    <div class="content">
      <p>
        I am a Software Developer. My best skillsets are <b> Angular, C#, JavaScript, Java</b> and <b>TypeScript</b>. I have experience working on 
        both relational and non-relational databases. Some of my experiences are on <b>PostgreSQL, MySQL, Oracle SQL</b> and <b>Mongo DB</b>.
        I have also worked on <b>RESTful APIs</b> doing <b>CRUD</b> operations. I have experience working on <b>Agile</b> and <b>Waterfall</b> methodology.
        I have limited experience on Azure and AWS cloud services. I mostly worked on Virtual Machines on Azure and Image Rekognition on AWS. 
      </p>
      <p>
        I am also experienced on developing Mobile Applications. I am familiar with <b>Android Studio</b>. I have designed various small applications for android.
         I have also worked on Cross Platform Mobile Application tools like <b>Ionic Angular</b> and <b>Xamarin</b>. While working on Mobile Applicatoins, I got
         familiar with Google API services especially on Location. Also, the importance on Permission settings on Mobile Applications.
      </p>
      <p>
        I am fluent in basic Web Development Tools like <b>HTML</b> and <b>CSS</b>. I have also worked on JavaScript frameworks like <b>React</b> and <b>Node</b>.
        I am highly skilled on front end tools like <b>XML</b> and <b>XAML</b>.
      </p>
    </div>
    
  
  <div class="headings" id="projects">
    <h1>Projects</h1></div>
    <div class="project-headings">
      <h3>CampusBuddy</h3>
    </div>
    <div class="project-contents">
      <p>Worked on a project consisting of 4 members for 8 months to create a website for students to interact with other students.
        Some of the functionalities of the website are User registration, Login, Posting, Finding other students based on their tags,
        sending friend request, blocking users, sending messages and much more. My part of the project are:
      </p>
      <ul>
        <li>Designed UML, Class, Use Case and Sequence Diagrams</li>
        <li>Worked on Work Breakdown Structure</li>
        <li>Scheduled the project on MS Project</li>
        <li>Worked on designing and creating sql database tables</li>
        <li>Worked on Developing Posting section of website</li>
        <li>CRUD operations on RESTful APIs</li>
        <li>Worked on Profile Creation part</li>
        <li>Worked on User Manual and Documentation</li>
      </ul>
    </div>
  
  <div class="headings" id="education">
    <h1>Education</h1>
  </div>
  <div class="headings" id="skills">
    <h1>Skills</h1>
  </div>
  
</div>
</div>



