
.container{
  justify-content: center;
  padding-left: 250px;
  font-size: 18px;
  padding-right: 30px;
  padding-top: 15px;
  height: 100vh;
}
@media (max-width: 768px){
  .container{
    padding-left: 10px;
    height: 100%;
  }
}
.main-heading{
  padding-top: 10px;
  font: 3vw sans-serif;
  text-align: center;
  padding-bottom: 30px;
  border-radius: 25px;
  letter-spacing: -1px;
}





.project-headings{
  font-family: serif;
}

.project-headings svg{
  color: blue;
}
